
.BookerWrapper{
  height: 400px;
  width: 400px;
  position: fixed;
  right: 200px;
  bottom: 100px;
  border: 1px solid grey;
  
}

.priceAndReviews{
  background: white;
}

.price{
  display: inline-block;
  margin: 20px 0 20px 20px;
  font-size: 30px;
  color: rgb(49, 49, 49);
}
.per-night{
  display: inline-block;
  margin-left: 5px;
  font-size: 12px;
  color: rgb(49, 49, 49);
}

.reviews{
  margin: 0px 0px 0px 20px;
  padding-bottom: 5px;
}

/* .booking-modal{
  height: 300px;
  width: 300px;
  background: white;
  position: absolute;
  color: white;
  top: 0;
  margin: auto;
  transform: translateY(-50%);
} */


.react-datepicker__input-container input{
  padding: 15px;
  font-size: 15px;
  border-radius: 3px;
  border: 1px solid rgb(211, 211, 211);
  width: 100px;
}

.date-picker-wrapper{
  display: inline-block
}

.date-picker-wrapper p {
  color: grey;
}

.date-picker-arrow{
  display: inline-block;
  padding: 0 15px;
}